<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
			<link href='https://fonts.googleapis.com/css?family=Open Sans' rel='stylesheet'>
			<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
		</head>
		<body>
			<nav>
				<h1>Sasha Indarte</h1>
	    		<ul>
	        		<li><a href="/">Home</a></li>
	        		<li><a href="/cv">CV</a></li>
				<li><a href="/research">Research</a></li>
	    		</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul align = "center">
				<li>
					<a href="mailto:indarte@u.northwestern.edu" title="Email me">
						<span class="fa-stack fa-lg">
							<i class="fa fa-circle fa-stack-2x" style="color:black"></i>
							<i class="fa fa-envelope fa-stack-1x fa-inverse"></i>
						</span>
					</a>
				</li>
				<li>
					<a href="https://twitter.com/sashaindarte" title="Twitter">
						<span class="fa-stack fa-lg">
							<i class="fa fa-circle fa-stack-2x" style="color:black"></i>
							<i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
						</span>
					</a>
				</li>
			</ul>
				<p align = "center"; class="copyright text-muted">
					&copy; Sasha Indarte
					{% if page.date %}
					{{ page.date }}
					{% else %}
					{{ site.time | date: '%Y' }}
					{% endif %}
				</p>
			</footer>
			
			<script>
				var acc = document.getElementsByClassName("accordion");
				var i;
				for (i = 0; i < acc.length; i++) {
					acc[i].addEventListener("click", function() {
						this.classList.toggle("active");
						var panel = this.nextElementSibling;
						if (panel.style.maxHeight){
							panel.style.maxHeight = null;
						} else {
							panel.style.maxHeight = panel.scrollHeight + "px";
						} 
					});
				}
			</script>
		</body>
	</html>
